.site-foot{
    padding: get-size('900') 0 get-size('600');

    .top{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: get-size('600');

        @include media-query('md'){
            flex-direction: row;
        }

        hr{
            border: none;
            background-color: rgba(get-color('black'), .06);
            width: 100%;
            height: 1px;

            @include media-query('md'){
                width: 1px;
                height: auto;
            }
        }
    }

    .bottom{
        padding-top: get-size('600');
        border-top: 1px solid rgba(get-color('black'), .06);
        display: flex;

        & > * + *{
            margin-left: get-size('900');
        }

        > div{
            flex-grow: 1;

            &:last-child{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                div{
                    flex-basis: 15ch;
                    flex-grow: 9999;
                    margin-right: 2rem;
                    margin-bottom: 1rem;
                }
            }

        }
    }
}