{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css']%}


{% block content %}
    {% include "partials/hero.html" %}
    <div class="product-home [ full-bleed ] [ bg-primary-shade ]">
        <div class="[ container ]">
            <ul class="product-home__list">
                {% for item in privatProducts %}
                    <li class="[ width-mid bg-primary color-light-glare ]">
                        {{ ('/src/_includes/partials/svg/'+ item.title +'.svg') | svgContents("fill-current") | safe }}
                        {{ item.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}