<article class="featured-products [ full-bleed ] [ color-light-glare ]">
    <div class="[ container ]">
        <div>
        {% for item in privat.featuredProducts %}
            <figure class="featured-products__item" {% if item.featuredProductsLargeSize === true %}data-size="large"{% endif %}>
                {% if item.coverImage.path %}
                    <div class="image-wrapper">
                        <div style="background-color: {{ item.color.hex }};"></div>
                        <img 
                            width="350" height="350"
                            loading="lazy"
                            src="https://images.takeshape.io/{{ item.coverImage.path }}?auto=compress&auto=format&w=500&h=500&fit=crop"
                            srcset="https://images.takeshape.io/{{ item.coverImage.path }}?auto=compress&auto=format&w=500&h=500&fit=crop 1x, https://images.takeshape.io/{{ item.coverImage.path }}?auto=compress&auto=format&w=1000&h=1000&fit=crop 2x"
                            alt="{{ item.pageHeadline }}"
                        >
                    </div>
                {% endif %}
                <figcaption class="content [ flow ] [ flow-space-300 ]" style="background-color: {{ item.color.hex }};">
                    <h2>{{ item.pageHeadline }}</h2>
                    <p>{{ item.summary }}</p>
                    <a class="btn" data-type="primary" data-size="300" href="/products/{{ item.title | slug }}">Læs mere om {{ item.title | slug }}</a>
                </figcaption>
            </figure>
        {% endfor %}
        </div>
    </div>
</article>