<div class="hero">
    {# <picture>
        <source srcset="https://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_960,h_600/v1599932711/{{ imageParth }} 2x" media="(max-width: 480px)">
        <source srcset="https://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_1536,h_800/v1599932711/{{ imageParth }} 2x" media="(max-width: 768px)">
        <source srcset="https://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_1984,h_920/v1599932711/{{ imageParth }} 2x" media="(max-width: 992px)">
        <source srcset="hhttps://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_2560,h_1188/v1599932711/{{ imageParth }} 2x" media="(max-width: 1280px)">
        <source srcset="hhttps://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_2800,h_1300/v1599932711/{{ imageParth }} 2x" media="(max-width: 1400px)">
        <img loading="lazy" class="image-responsive" srcset="https://images.takeshape.io/{{ imageParth }} 1x, https://res.cloudinary.com/fokus-design/image/upload/c_fill,f_auto,q_auto,w_2800,h_1300/v1599932711/{{ imageParth }} 2x" alt="{{ altText }}">
    </picture>
    <img src="https://images.takeshape.io/{{ home.hero.image.path }}?auto=compress&auto=format&w=1600&h=900&fit=crop" alt="sds"> #}

     <video muted="muted" autoplay loop="loop" playsinline="" preload="auto">
        <source src="https://images.takeshape.io/{{ privat.hero.video.path }}" />
    </video>
</div>