{% set currentUrl = site.url + page.url %}

{% if page.url === "/" %} 
  {% set title = site.name + ' - ' + title %}
{% endif %}

<title>{{ title }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

<link rel="icon" href="/images/meta/favicon.svg" type="image/svg+xml" />